<main class="container">
  <div class="flex flex-col justify-center fixed top-0 w-full ">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  </div>

  <div class="py-8 max-w-7xl mx-auto sm:px-6 lg:px-8">
    <%= @inner_content %>
  </div>
</main>
