<section class="absolute top-1/2 left-1/2 mx-auto max-w-sm -translate-x-1/2 -translate-y-1/2 transform space-y-4 text-center">
  <h1 class="text-3xl font-bold underline">
  </h1>
  <div class="min-w-fit">
    <%= link "START GAME", to: Routes.live_path(@conn, MyWordleWeb.GameLive.Game), class: "start-button" %>
  </div>
</section>